.footer {
    background-color: grey;
    padding-block: 16px;
}

.footer__container {
    width: 100%;
    margin-inline: auto;
}

@media(min-width:640px) {
    .footer__container {
        max-width: 640px;
    }
}

@media(min-width:468px) {
    .footer__container {
        max-width: 468px;
    }
}

@media(min-width:1024px) {
    .footer__container {
        max-width: 1024px;
    }
}

@media(min-width:1280px) {
    .footer__container {
        max-width: 1280px;
    }
}

@media(min-width:1536px) {
    .footer__container {
        max-width: 1536px;
    }
}

.footer__row {
    display: flow-root;
    width: 100%;
}

.footer__item {
    /* background-color: rgb(55, 55, 55); */
    border: 1px solid black;
    margin-bottom: 16px;
    padding-inline: 8px;
    text-align: center;
    padding: 8px;
    margin-inline: 8px;
}
@media(min-width:640px){
    .footer__item{
        max-width: 100%;
    }
}
@media(min-width:768px){
    .footer__item{
        max-width: calc(50% - 16px);
        float: left;
    }
}
@media(min-width:1024px){
    .footer__item{
        max-width: calc(33.33% - 16px);
    }
}
@media(min-width:1280px){
    .footer__item{
        max-width: calc(25% - 16px);
    }
}
@media(min-width:1280px){
    .footer__item{
        max-width: calc(12.5% - 16px);
    }
}