*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.footer{
    background-color: rgb(160, 150, 150);
}

.footer__container{
    width: 100%;
    margin-inline: auto;
}

@media(min-width:768px){
    .footer__container{
        max-width: 768px;
    }
}

.footer__row{
    display: flow-root;
    width: 100%;
}

.footer__item{
    border: 1px solid rgb(177, 177, 177);
    text-align: center;
    padding: 8px;
    margin-block: 8px;
    margin-inline: 8px;
}

@media(min-width:768px){
    .footer__item{
        max-width: calc(50% - 16px);
        float: left;
    }
}

.footer__copyright{
    text-align: center;
    background-color: rgb(54, 54, 54);
    color: white;
    padding-block: 8px;
}