*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.footer{
    background-color: rgb(60, 60, 60);
}

.footer__container{
    width: 100%;
    margin-inline: auto;
}

@media(min-width:768px){
    .footer__container{
        max-width: 768px;
    }
}

@media(min-width:1024px){
    .footer__container{
        max-width: 1024px;
    }
}

@media(min-width:1440px){
    .footer__container{
        max-width: 1440px;
    }
}

@media(min-width:2560px){
    .footer__container{
        max-width: 2560px;
    }
}
.footer__row{
    display: flow-root;
    width: 100%;
}

.footer__item{
    border: 1px solid rgb(117, 117, 117);
    text-align: center;
    padding: 8px;
    margin-block: 8px;
    margin-inline: 8px;
    color: white;
}

@media(min-width:768px){
    .footer__item{
        max-width: calc(50% - 16px);
        float: left;
    }
}
@media(min-width:1024px){
    .footer__item{
        max-width: calc(33.33% - 16px);
    }
}
@media(min-width:1440px){
    .footer__item{
        max-width: calc(25% - 16px);
    }
}
@media(min-width:2560px){
    .footer__item{
        max-width: calc(12.5% - 16px);
    }
}


.footer__copyright{
    text-align: center;
    background-color: rgb(34, 34, 34);
    color: white;
    padding-block: 8px;
}