* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.main {
    background-color: orangered;
}

.main__container {
    /* background-color: orange; */
    width: 100%;
    padding-inline: 16px;
    margin-inline: auto;
}

@media(min-width:768px) {
    .main__container {
        max-width: 768px;
    }
}

@media(min-width:1024px) {
    .main__container {
        max-width: 1024px;
    }
}
@media(min-width:1440px) {
    .main__container {
        max-width: 1440px;
    }
}

.main__row {
    display: flow-root;
}

.main__aside {
    background-color: greenyellow;
    width: 100%;
    padding: 16px;
    text-align: center;
    display: block;
}

@media(min-width:768px) {
    .main__aside {
        max-width: calc(50% - 8px);
        float: left;
        margin-right: 8px;
    }
}

@media(min-width: 1024px) {
    .main__aside {
        max-width: calc(30% - 16px);
        margin-left: 8px;
    }
}


.main__section {
    background-color: green;
    padding: 16px;
    width: 100%;
    text-align: center;
    display: block;
}

@media(min-width:768px) {
    .main__section {
        max-width: calc(50% - 8px);
        float: left;
        margin-left: 8px;
    }
}

@media(min-width:1024px) {
    .main__section {
        max-width: calc(70% - 16px);
        margin-right: 8px;
    }
}





















































.footer {
    background-color: rgb(46, 102, 102);
}

.footer__container {
    width: 100%;
    padding-inline: 16px;
}

@media(min-width: 768px) {
    .footer__container {
        max-width: 768px;
        margin-inline: auto;
    }
}

@media(min-width: 1024px) {
    .footer__container {
        max-width: 1024px;
    }
}

@media(min-width: 1440px) {
    .footer__container {
        max-width: 1440px;
    }
}

@media(min-width: 2560px) {
    .footer__container {
        max-width: 2560px;
    }
}


.footer__row {
    display: flow-root;
    margin-inline: auto;
}


.footer__item {
    background-color: rgb(23, 74, 74);
    margin-block: 8px;
    padding: 32px;
    color: rgb(255, 255, 255);
    text-align: center;
    width: 100%;
    float: left;
}


@media(min-width:1024px) {
    .footer__item {
        max-width: calc(50% - 16px);
        width: calc(100% - 16px);
        margin-inline: 8px;
    }
}

@media(min-width:1440px) {
    .footer__item {
        max-width: calc(33.33% - 16px);
    }
}

@media(min-width:2560px) {
    .footer__item {
        max-width: calc(25% - 16px);
    }
}

.footer__copyright {
    color: white;
    text-align: center;
    padding: 12px;
}