.main {
    background-color: #f1f1f1;
    border: 1px solid #414141;
}

.main__container {
    width: 100%;
    margin-inline: auto;
    padding-inline: 16px;
    /* border: 1px solid red; */
}

@media(min-width:768px) {
    .main__container {
        max-width: 768px;
    }
}

.main__row {
    display: flow-root;
    width: 100%;
}

@media(min-width:768px) {
    .main__row {
        height: 150px;
    }
}

.main__border {
    /* border: 1px solid red; */
}

.main__aside {
    border: 1px solid #414141;
    text-align: center;
    /* margin-inline: 8px; */
    margin-block: 8px;
    padding-block: 8px;
    width: 100%;
}

@media(min-width:768px) {
    .main__aside {
        max-width: calc(30% - 8px);
        float: left;
        margin-right: 8px;
        height: 100%;
        margin-block: 0px;
    }
}

.main__section {
    border: 1px solid #414141;
    /* margin-inline: 8px; */
    margin-block: 8px;
    padding-block: 8px;
    text-align: center;
    width: 100%;
}

@media(min-width:768px) {
    .main__section {
        max-width: calc(70% - 8px);
        float: left;
        margin-left: 8px;
        height: 100%;
        margin-block: 0px;
    }
}