.main {
    background-color: #b6b6b6;
}

.main__container {
    width: 100%;
    margin-inline: auto;
    padding: 16px;
}

.main__row {
    display: flow-root;
    width: 100%;
}

.main__aside{
    border: 1px solid black;
    margin-bottom: 16px;
    text-align: center;
}

.main__section{
    border: 1px solid black;
    text-align: center;
}